@{
    ViewBag.Title = "Home Page";
}

<div class="text-center mt-5">
    <h1>Library Management System</h1>
    
    <div class="mt-4">
        <a href="@Url.Action("Index", "Book")" class="btn btn-primary m-2">Books</a>
        <a href="@Url.Action("Index", "Genre")" class="btn btn-primary m-2">Genres</a>
    </div>
</div> 